version: '3.9'

services:
  backend:
    build:
      context: ./backend
    command: npm run dev
    ports:
      - '4000:4000'
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./bowling-scorecard
    command: npm start
    ports:
      - '3000:3000'
    environment:
      HOST: 0.0.0.0
      BROWSER: none
      CHOKIDAR_USEPOLLING: 'true'
    volumes:
      - ./bowling-scorecard:/app
      - frontend_node_modules:/app/node_modules
    depends_on:
      - backend
    env_file:
      - ./bowling-scorecard/.env

volumes:
  backend_node_modules:
  frontend_node_modules:
