accelerate>=0.34.0
datasets>=2.21.0
numpy<2
pillow>=10.4.0
protobuf>=4.25.0
sentencepiece>=0.2.0
torch>=2.2.2,<2.3.0; platform_system == "Darwin" and platform_machine == "x86_64"
torch>=2.4.0; platform_system != "Darwin" or platform_machine != "x86_64"
transformers>=4.44.0,<4.45.0; platform_system == "Darwin" and platform_machine == "x86_64"
transformers>=4.44.0; platform_system != "Darwin" or platform_machine != "x86_64"
